.leaderboard {
  background: linear-gradient(288deg, #a3ddd7 0.01%, #e7fbd9 100%) no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: 8%;

  &__items {
    display: flex;
    justify-content: center;
    row-gap: 16px;
    column-gap: 166px;
    flex-wrap: wrap;
    margin-bottom: 12px;
  }
}

.go_back_btn {
  align-self: center;
}

.error {
  font-size: 24px;
  color: red;
  text-align: center;
}