.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.pipe,
.pipeReverse,
.bird {
  position: absolute;
  left: 0;
}

.pipe {
  bottom: 0;

  &:first-of-type {
    left: 3%;
  }

  &:nth-of-type(2) {
    left: 28%;
  }

  &:nth-of-type(3) {
    left: 68%;
  }

  &:nth-of-type(4) {
    left: 84%;
  }
}

.pipeReverse {
  top: 0;

  &:nth-of-type(5) {
    left: 24%;
  }

  &:nth-of-type(6) {
    left: 58%;
  }
}

.birds {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bird {
  top: 0;

  &:nth-of-type(1) {
    left: 11%;
    top: 36%;
    transform: rotateZ(-45deg);
  }

  &:nth-of-type(2) {
    left: 49%;
    top: 75%;
  }

  &:nth-of-type(3) {
    left: 82%;
    top: 49%;
    transform: rotateZ(45deg);
  }
}
