.homePage {
  box-sizing: border-box;
  background: linear-gradient(180deg, #a3ddd7 0%, rgba(163, 221, 215, 0) 100%)
    no-repeat;
  height: 100vh;
  position: relative;
}

.content {
  box-sizing: border-box;
  padding: 10% 5%;
  position: relative;
}

.description {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  max-width: 564px;
  padding: 56px 38px 33px;
  border-radius: 12px;
  background-color: white;
}
