.homePage {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

.content {
  box-sizing: border-box;
  padding: 10% 5%;
  position: relative;
}

.description {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  max-width: 640px;
  padding: 56px 38px 33px;
  border-radius: 12px;
  background-color: white;
  color: #000;
  font-family: 'Press Start 2P';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jokeButton {
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}
